
@import "./icon-font.less";
@import "./tree.less";
@import "./theme.less";
@import "./codemirror.less";


* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
	background: #f5f5f5;
	color: #333;
	overflow: hidden;
	min-height: 1px;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	font-size: 14px;
	line-height: 24px;

	&.covered {
		&:after {
			content: "";
			background: #f000;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}

a {
	text-decoration: none;
	color: #007bff;
}

textarea {
	opacity: 0;
}


.divider {
	// background: #f007;
	position: relative;
	z-index: 2;

	&.clone {
		background: #69e7;
		position: absolute;
		margin: 7px 0 0 7px;
	}

	&.locked {
		cursor: default;
	}
	
	&.horisontal {
		cursor: ns-resize;
		height: 5px;
	}
	
	&.vertical {
		cursor: ew-resize;
		width: 5px;
	}
}




.layout {
	position: absolute;
	top: 7px;
	left: 7px;
	right: 7px;
	bottom: 7px;
	display: flex;
	flex-direction: column;

	&.hide-sidebar {
		.middle {
			.sidebar {
				padding-left: 0;
				padding-right: 0;
				width: 0;
				opacity: 0;

				& + .divider {
					width: 0;
					pointer-events: none;
				}
			}
		}
	}

	&.show-info {
		.middle {
			.editors {
				.description {
					padding-top: 9px;
					padding-bottom: 7px;
					margin-bottom: 5px;
					height: 41px;
					opacity: 1;
				}
			}
		}
	}

	.layout-left {
		width: 25%;
		text-align: left;
	}
	
	.layout-middle {
		text-align: center;
		flex: 1;
		min-height: 0;
		min-width: 0;
	}

	.layout-right {
		width: 25%;
		text-align: right;
	}

	.tool {
		position: relative;
		height: 30px;
		border-radius: 21px;
		vertical-align: text-top;
		display: inline-block;
		cursor: pointer;
		color: #777;

		&.button {
			background: #0001;
			padding: 3px 11px;

			&:focus,
			&:active,
			&.on {
				background: #bbb;
				color: #fff;

				i[class^="icon-"],
				i[class*=" icon-"] {
					color: #fff;
					text-shadow: 0 1px 0 #0001;
				}
			}
		}

		&.boolean {
			background: #0001;
			padding: 3px 11px;

			&:focus,
			&:active,
			&.on {
				background: #bbb;
				color: #fff;

				i[class^="icon-"],
				i[class*=" icon-"] {
					color: #fff;
					text-shadow: 0 1px 0 #0001;
				}
			}
		}

		&.toggle {
			background: #0001;
			padding: 2px 11px;

			&.on {
				> span {
					left: -33px;
				}
			}

			> span {
				background: #bbb;
				color: #fff;
				display: inline-block;
				position: relative;
				left: 0;
				height: 26px;
				z-index: 2;
				padding: 1px 11px;
				margin-right: -33px;
				pointer-events: none;
				border-radius: inherit;
				transition: left 150ms ease-in-out;
			}
		}

		&.options {
			font-size: 0;
			cursor: default;

			> label,
			> span {
				display: inline-block;
				padding: 3px 11px;
				margin: 0 1px;
				font-size: 14px;

				&:first-child {
					padding-left: 13px;
					border-radius: inherit;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}

				&:last-child {
					padding-right: 13px;
					border-radius: inherit;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}

			> label {
				box-shadow: inset 0 0 0 2px #0001;
				cursor: default;
				color: #aaa;
				user-select: none;
			}

			> span {
				// background: #5551;
				box-shadow: inset 0 0 0 2px #0001;
				cursor: pointer;

				&:focus,
				&:active,
				&.on {
					box-shadow: none;
					background: #bbb;
					color: #fff;
				}
			}
		}

		i {
			// background: #0001;
			color: #777;
			display: inline-block;
			position: relative;
			top: -2px;
			width: 21px;
			height: 21px;
			font-size: 16px;
			vertical-align: text-top;
			padding-top: 3px;
			text-align: center;
			pointer-events: none;
		}
	}

	.toolbar {
		// background: #0001;
		// padding-top: 3px;
		height: 43px;
		display: flex;
	}

	.middle {
		border-radius: 7px;
		flex: 1;
		display: flex;
		min-width: 0;
		min-height: 0;

		.sidebar {
			// background: #0001;
			box-shadow: inset 0 0 0 1px #0001;
			overflow-x: hidden;
			overflow-y: auto;
			width: 250px;
			padding: 2px;
			border-radius: inherit;
			transition: width 200ms ease-in-out,
						opacity 200ms ease-in-out;
		}

		.editors {
			flex: 1;
			display: flex;
			flex-direction: column;
			border-radius: inherit;
			min-width: 0;
			min-height: 0;

			.CodeMirror {
				height: 100%;
				border-radius: inherit;
			}

			.description {
				background: #ffed0055;
				height: 0;
				opacity: 0;
				padding: 0 11px;
				margin-bottom: 0;
				box-shadow: inset 0 0 0 1px #a006;
				border-radius: inherit;
				color: #a72b12;
				transition: padding 200ms ease-in-out,
							height 200ms ease-in-out,
							opacity 200ms ease-in-out;

				i.icon-info-circle {
					position: relative;
					top: 2px;
					font-size: 16px;
					color: #ffb888;
				}
			}

			.workarea {
				flex: 1;
				display: flex;
				border-radius: inherit;
				min-height: 0;
				min-width: 0;

				.xml-doc {
					background: #9991;
					box-shadow: inset 0 0 0 1px #0001;
					position: relative;
					width: calc( 45% - 10px );
					padding: 1px;
					border-radius: inherit;
					border-top-right-radius: 0;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}

				.xslt-doc {
					background: #9991;
					box-shadow: inset 0 0 0 1px #0001;
					position: relative;
					flex: 1;
					min-width: 0;
					min-height: 0;
					padding: 1px;
					border-radius: inherit;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}

				.doc-state {
					position: absolute;
					bottom: 13px;
					right: 13px;
					min-width: 30px;
					height: 30px;
					border-radius: 21px;
					font-size: 0;
					white-space: nowrap;
					text-align: right;

					&:hover {
						span {
							width: auto;
							padding: 0 5px 0 43px;
						}
					}

					&.invalid {
						background: #f005;
						color: #f007;

						i.icon-thumb-up,
						span.text-true {
							display: none;
						}
					}

					&.valid {
						background: #2724;
						color: #2727;

						i.icon-thumb-down,
						span.text-false {
							display: none;
						}
					}

					i {
						position: absolute;
						top: 4px;
						right: 4px;
						width: 22px;
						height: 22px;
						font-size: 19px;
						vertical-align: text-top;
						border-radius: 50%;

						&.icon-thumb-up {
							top: 4px;
							right: 6px;
						}

						&.icon-thumb-down {
							top: 6px;
							right: 5px;
						}

					}

					span {
						// background: #00f7;
						position: relative;
						top: 3px;
						right: 29px;
						width: 0;
						display: inline-block;
						height: inherit;
						font-size: 14px;
						padding: 0;
						overflow: hidden;
						white-space: nowrap;
						transition: width 420ms ease-in-out,
									padding 120ms ease-in-out;
					}
				}
			}
		}
	}

	.output {
		background: #f2f2f2;
		box-shadow: inset 0 0 0 1px #0001;
		position: relative;
		height: 420px;
		border-radius: 7px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		&[data-view="html"] .html { opacity: 1; visibility: visible; }
		&[data-view="rendered"] .rendered { opacity: 1; visibility: visible; }

		.html {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 1px;
			left: 1px;
			right: 1px;
			bottom: 1px;
			border-radius: inherit;
		}

		.rendered {
			background: #ffe;
			opacity: 0;
			visibility: hidden;
			padding: 2px 5px;
			position: absolute;
			top: 1px;
			left: 1px;
			right: 1px;
			bottom: 1px;
			border-radius: inherit;
		}

		.tool.options {
			position: absolute;
			right: 13px;
			bottom: 13px;
			z-index: 2;
		}
	}

	.footer {
		display: flex;
		position: relative;
		padding: 15px 7px;
		height: 47px;
		text-align: center;
		color: #777;

		.icon-karaqu {
			color: #aaa;
			font-size: 31px;
			position: relative;
			top: -4px;
		}

		.icon-heart {
			color: #f88;
			position: relative;
			top: 1px;
		}
	}
}
