
@import "./icon-font.less";
@import "./tree.less";
@import "./theme.less";
@import "./codemirror.less";


* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
	background: #f5f5f5;
	color: #333;
	overflow: hidden;
	min-height: 1px;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	font-size: 14px;
	line-height: 24px;

	&.covered {
		&:after {
			content: "";
			background: #f000;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}

a {
	text-decoration: none;
	color: #007bff;
}

textarea {
	display: none;
}


.divider {
	// background: #f007;
	position: relative;
	z-index: 2;

	&.clone {
		background: #69e7;
		position: absolute;
		margin: 7px 0 0 7px;
	}

	&.locked {
		cursor: default;
	}
	
	&.horisontal {
		cursor: ns-resize;
		height: 5px;
	}
	
	&.vertical {
		cursor: ew-resize;
		width: 5px;
	}

	// over
	&.horisontal {		
		.tool.options {
			position: absolute;
			right: 17px;
			top: 13px;
		}
	}
}




.layout {
	position: absolute;
	top: 7px;
	left: 7px;
	right: 7px;
	bottom: 7px;
	display: flex;
	flex-direction: column;

	&.hide-sidebar {
		.middle {
			.sidebar {
				padding-left: 0;
				padding-right: 0;
				width: 0;
				opacity: 0;

				& + .divider {
					width: 0;
					pointer-events: none;
				}
			}
		}
	}

	.layout-left {
		width: 25%;
		text-align: left;
	}
	
	.layout-middle {
		text-align: center;
		flex: 1;
	}

	.layout-right {
		width: 25%;
		text-align: right;
	}

	.tool {
		position: relative;
		height: 30px;
		border-radius: 21px;
		vertical-align: text-top;
		display: inline-block;
		cursor: pointer;
		color: #777;

		&.button {
			background: #0001;
			padding: 3px 11px;

			&:focus,
			&:active,
			&.on {
				background: #bbb;
				color: #fff;

				i[class^="icon-"],
				i[class*=" icon-"] {
					color: #fff;
					text-shadow: 0 1px 0 #0001;
				}

				// &:before {
				// 	content: "";
				// 	background: #0001;
				// 	position: absolute;
				// 	top: 2px;
				// 	left: 2px;
				// 	right: 2px;
				// 	bottom: 2px;
				// 	border-radius: inherit;
				// }
			}
		}

		&.toggle {
			background: #0001;
			padding: 2px 11px;

			&.on {
				> span {
					left: -33px;
				}
			}

			> span {
				background: #bbb;
				color: #fff;
				display: inline-block;
				position: relative;
				left: 0;
				height: 26px;
				z-index: 2;
				padding: 1px 11px;
				margin-right: -33px;
				pointer-events: none;
				border-radius: inherit;
				transition: left 150ms ease-in-out;
			}
		}

		&.options {
			font-size: 0;
			cursor: default;

			> label,
			> span {
				display: inline-block;
				padding: 3px 11px;
				margin: 0 1px;
				font-size: 14px;

				&:first-child {
					padding-left: 13px;
					border-radius: inherit;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}

				&:last-child {
					padding-right: 13px;
					border-radius: inherit;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}

			> label {
				box-shadow: inset 0 0 0 2px #0001;
				cursor: default;
			}

			> span {
				background: #5551;
				box-shadow: inset 0 0 0 2px #0001;
				cursor: pointer;

				&:focus,
				&:active,
				&.on {
					box-shadow: none;
					background: #bbb;
					color: #fff;
				}
			}
		}

		i {
			// background: #0001;
			color: #777;
			display: inline-block;
			position: relative;
			top: -2px;
			width: 21px;
			height: 21px;
			font-size: 16px;
			vertical-align: text-top;
			padding-top: 3px;
			text-align: center;
			pointer-events: none;
		}
	}

	.toolbar {
		// background: #0001;
		// padding-top: 3px;
		height: 43px;
		display: flex;
	}

	.middle {
		border-radius: 7px;
		flex: 1;
		display: flex;

		.sidebar {
			// background: #0001;
			box-shadow: inset 0 0 0 1px #0001;
			overflow-x: hidden;
			overflow-y: auto;
			width: 250px;
			padding: 2px;
			border-radius: inherit;
			transition: width 200ms ease-in-out,
						opacity 200ms ease-in-out;
		}

		.editors {
			flex: 1;
			display: flex;
			flex-direction: column;
			border-radius: inherit;

			.CodeMirror {
				height: 100%;
				border-radius: inherit;
			}

			.workarea {
				flex: 1;
				display: flex;
				border-radius: inherit;

				.xml-doc {
					background: #9991;
					box-shadow: inset 0 0 0 1px #0001;
					position: relative;
					width: calc( 50% - 10px );
					padding: 1px;
					border-radius: inherit;
					border-top-right-radius: 0;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}

				.xslt-doc {
					background: #9991;
					box-shadow: inset 0 0 0 1px #0001;
					position: relative;
					flex: 1;
					padding: 1px;
					border-radius: inherit;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
		}
	}

	.output {
		background: #f2f2f2;
		box-shadow: inset 0 0 0 1px #0002;
		position: relative;
		height: 320px;
		border-radius: 7px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		&[data-view="html"] .html { opacity: 1; visibility: visible; }
		&[data-view="rendered"] .rendered { opacity: 1; visibility: visible; }

		.html {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 1px;
			left: 1px;
			right: 1px;
			bottom: 1px;
			border-radius: inherit;
		}

		.rendered {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 1px;
			left: 1px;
			right: 1px;
			bottom: 1px;
			border-radius: inherit;
		}
	}

	.footer {
		display: flex;
		position: relative;
		padding: 15px 7px;
		height: 47px;
		text-align: center;
		color: #777;

		.icon-hb {
			color: #aaa;
			font-size: 43px;
			position: relative;
			top: -9px;
		}

		.icon-heart {
			color: #f88;
			position: relative;
			top: 1px;
		}
	}
}
