
body[data-theme="dark"] {
	background: #345;
	color: #aae;

	a {
		color: #8ccfff;
	}

	.layout {
		.tool {
			color: #aae;

			&.button {
				background: #0003;
			}

			&.boolean {
				background: none;
				box-shadow: inset 0 0 0 2px #0003;

				&:focus,
				&:active,
				&.on {
					box-shadow: none;
					background: #0003;
					color: #aae;
				}
			}

			&.toggle {
				background: #0003;

				> span {
					background: #345;
				}
			}

			&.options {
				> label,
				> span {
					box-shadow: inset 0 0 0 2px #0003;
				}

				> span {
					background: #345;
					color: #aae;

					&:hover {
						color: #9e9;
					}

					&:focus,
					&:active,
					&.on {
						background: #0003;
						color: #9e9;
					}

					&.on {
						box-shadow: none;
					}
				}
			}

			i {
				color: #aae;
			}
		}

		.leaf {
			color: #97c;

			&.active {
				> span > b,
				> span:hover > b {
					background: #353;
					color: #bfb;
				}
				
				> span > i {
					&.icon-file {
						color: #bfb;
					}
				}
			}

			> span {
				&:hover {
					> b {
						background: #aea1;
						color: #7b7;
					}
				}

				> i {
					text-shadow: 0 1px 0 #0002;
					color: #548;

					&.icon-book + b,
					&.icon-book {
						color: #9e9;
					}

					&.icon-file {
						color: #97c;
					}
				}
			}
		}

		.middle {
			.sidebar {
				background: #2c3441;
				box-shadow: inset 0 0 0 1px #7993c545;
			}

			.workarea {
				.xml-doc {
					box-shadow: inset 0 0 0 1px #7993c545;
				}

				.xslt-doc {
					box-shadow: inset 0 0 0 1px #7993c545;
				}
			}

			.output {
				background: #3a4a5a;
				box-shadow: inset 0 0 0 1px #7993c545;
			}

			.editors {
				.description {
					background: #6ed17055;
					color: #35d14e;
					box-shadow: inset 0 0 0 1px #00aa058c;

					i.icon-info-circle {
						color: #37cc4f8c;
					}
				}

				.CodeMirror {
					background: #282a36;
					color: #f8f8f2;

					.CodeMirror-gutters {
						border-right: 1px dashed #5587;
					}

					.CodeMirror-gutters { color: #282a36; }
					.CodeMirror-cursor { border-left: solid thin #f8f8f0; }
					.CodeMirror-linenumber { color: #6D8A88; }
					.CodeMirror-selected { background: rgba(255, 255, 255, 0.10); }
					.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
					.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }
					span.cm-comment { color: #6272a4; }
					span.cm-string, span.cm-string-2 { color: #f1fa8c; }
					span.cm-number { color: #bd93f9; }
					span.cm-variable { color: #50fa7b; }
					span.cm-variable-2 { color: white; }
					span.cm-def { color: #50fa7b; }
					span.cm-operator { color: #ff79c6; }
					span.cm-keyword { color: #ff79c6; }
					span.cm-atom { color: #bd93f9; }
					span.cm-meta { color: #f8f8f2; }
					span.cm-tag { color: #ff79c6; }
					span.cm-attribute { color: #50fa7b; }
					span.cm-qualifier { color: #50fa7b; }
					span.cm-property { color: #66d9ef; }
					span.cm-builtin { color: #50fa7b; }
					span.cm-variable-3, span.cm-type { color: #ffb86c; }

					.CodeMirror-activeline-background { background: rgba(255,255,255,0.1); }
					.CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }
				}
			}
		}

		.footer {
			color: #aae;

			.icon-hb {
				color: #234;
			}
		}
	}
}
