
// tree
.leaf {
	font-size: 0;
	line-height: 1;
	margin-bottom: 1px;
	cursor: default;
	color: #666;

	&.active {
		> span[data-type="saved"] {
			> b,
			&:hover > b {
				background: #4ea2f5;
				color: #fff;
			}
					
			> i.icon-floppy-disk {
				color: #4ea2f5;
			}
		}

		> span > b,
		> span:hover > b {
			background: #f70;
			color: #fff;
		}
				
		> span > i {
			&.icon-file {
				color: #f70;
			}
		}
	}

	&.hidden {
		max-height: 0;
		overflow: hidden;
		transition: max-height 120ms ease-in-out;

		&.show {
			max-height: 25px;
		}
	}

	&.disabled {
		opacity: .75;
		
		> * { cursor: default; }
	}

	&.open {
		> span {
			> i {
				&.icon-chevron-right {
					transform: rotate(90deg);
				}

				&.icon-folder {
					font-size: 16px;
					padding-top: 2px;

					&:before {
						content: "\e904";
						position: relative;
						left: 1px;
					}
				}
			}
		}

		> .children {
			max-height: 999px;
			transition: max-height 350ms ease-in;
		}
	}

	&:not(.disabled) > span {
		&:hover {
			> b {
				background: #0001;
				color: #222;
			}
		}
	}

	> span {
		display: inline-block;
		white-space: nowrap;
		margin-bottom: 1px;
		cursor: pointer;

		&[data-type="saved"] {
			> i {
				&.icon-floppy-disk {
					color: #4ea2f5;
				}
			}

			> b {
				color: #4ea2f5;
			}
		}

		> i {
			// background: #0001;
			color: #999;
			display: inline-block;
			width: 21px;
			height: 21px;
			font-size: 11px;
			vertical-align: text-top;
			padding-top: 7px;
			margin-right: 1px;
			text-align: center;

			&.tree-blank {

			}

			&.icon-chevron-right {
				color: #aaa;
				transform: rotate(0deg);
				transition: transform 100ms ease-in-out;
			}

			&.icon-floppy-disk {
				font-size: 14px;
				padding-top: 3px;
				color: #4ea2f5;
			}

			&.icon-book {
				font-size: 16px;
				padding-top: 3px;
				color: #f70;

				& + b {
					color: #f70;
				}
			}

			&.icon-folder {
				font-size: 15px;
				padding-top: 3px;
			}

			&.icon-file {
				font-size: 16px;
				padding-top: 2px;
			}

			&.icon-file-archive-o {
				font-size: 14px;
				padding-top: 3px;
			}
		}

		> b {
			// background: #0001;
			border-radius: 3px;
			display: inline-block;
			padding: 3px 5px;
			height: 21px;
			font-size: 14px;
			font-weight: 400;
			vertical-align: text-top;
		}
	}

	> .children {
		// background: #0001;
		max-height: 0;
		overflow: hidden;
		padding-left: 13px;
		margin-bottom: -1px;
		transition: max-height 200ms ease-in-out;
	}
}
